    <div class="table-responsive">
        <table class="table table-striped  ">
            <tr><th>Party initials</th><th>Effective votes</th><th>Wasted votes</th><th>Total votes</th><th>Wasted votes %</th><th>Seats per {{magnitude}} votes</tr>

            {% for party, partyData in partyTally %}
            <tr>
                <td>{{party}}</td>
                <td align="right">{% if partyData.effective is defined %}
                    {{partyData.effective}}
                    {% else %}
                    0
                    {% endif %}
                </td>
                <td align="right">{{partyData.wasted}}</td>
                <td align="right">{{partyData.valid}}</td>
                <td align="right">{{"%.2f %%" | format(safe_divide(partyData.wasted , partyData.valid) * 100)}}</td>
                <td align="right">
                    {% set leading = 0 %}
                    {% if partyData.leading is defined %}
                        {% set leading = partyData.leading %}
                    {% endif %}
                    {{"%.1f" | format(safe_divide(leading , safe_divide(partyData.valid, magnitude)))}}
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>

